h1 "Start page"

p = link_to 'Log in', new_user_session_path

p = link_to 'Log out', destroy_user_session_path, method: :delete

- if can?(:create, Question)
  p = link_to 'Create new question', new_question_path
  
p = link_to 'All questions', questions_path
- if user_signed_in?
  p = link_to 'All prizes', prizes_path
